<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= jadwalMapelData.title%></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <%- include('layouts/header');%>

  <div class="container mt-5">
    <div class="container mt-5">
      <div class="card">
        <div class="card-header bg-black bg-gradient">
          <h5 class="text-white text-center"><%= jadwalMapelData.title%></h5>
        </div>

        <div class="card-body">
          <form action="/data/post_mapelJadwal" method="POST">
            <div class="row g-3">

              <div class="col-md-4 mt-3">
                <div class="form-floating">

                  <select name="nama_kelas" id="kelas" class="form-select text-uppercase" required>
                    <option selected>-</option>
                  </select>
                  <label for="floatingInput">Nama Kelas</label>
                </div>
              </div>

              <div class="col-md-4 mt-3">
                <div class="form-floating">
                  <select class="form-select" id="nama_mapel" name="nama_mapel" aria-label="Floating label select example">
                    <option value="" selected>-</option>
                  </select>
                  <label for="floatingSelect">Mata Pelajaran</label>
                </div>
              </div>

              <div class="col-md-4 mt-3">
                <div class="form-floating">

                  <select id="nama_guru" name="hari" class="form-select" required>
                    <option  selected>-</option>
                  </select>
                  <label for="hari">Nama Pengajar</label>
                </div>
              </div>

            <div class="row g-2">
              <div class="col-md-4 mt-3">
                <div class="form-floating mb-1">
                  <input type="time" name="jam_mulai" id="floatingInput" class="form-control" required>
                  <label for="floatingInput">Jam Mulai</label>
                </div>
              </div>

              <div class="col-md-4 mt-3">
                <div class="form-floating mb-1">
                  <input type="time" name="jam_selesai" id="floatingInput" class="form-control" required>
                  <label for="floatingInput">Jam Selesai</label>
                </div>
              </div>
              
              <div class="col-md-4 mt-3">
                <div class="form-floating">

                  <select id="hari" name="hari" class="form-select" required>
                    <option  selected>-</option>
                    <option value="Senin">Senin</option>
                    <option value="Selasa">Selasa</option>
                    <option value="Rabu">Rabu</option>
                    <option value="Kamis">Kamis</option>
                    <option value="Jumat">Jumat</option>
                  </select>
                  <label for="hari">Hari:</label>
                </div>
              </div>
            </div>
            </div>




          </div>
          
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/data/data_jadwal_mapel" type="button" class="btn btn-danger">Kembali</a>
          </div>
          </form>
      </div>
    </div>
  </div>

  <script src="/js/fetchData.js"></script>
</body>
</html>