  <!-- Modal -->
  <div class="modal fade" id="detailModalGuru" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Detail Guru</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


        <div class="modal-body">
          
          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Nama Lengkap</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-user"></i></span>
              <input type="text" class="form-control" id="modalNamaGuru" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">NIP</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalnip" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Email</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalemail" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>
          
          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Nomor Handphone</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalnoHP" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Alamat</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalalamat" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Jenis Kelamin</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalJenisKelamin" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/details/guruDetail.js"></script>