  <!-- Modal -->
  <div class="modal fade" id="detailModalSiswa">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Detail Siswa</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        


        <div class="modal-body">
          
          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Nama Siswa</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-user"></i></span>
              <input type="text" class="form-control" id="modalNamaSiswa" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">NIS</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalnis" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Kelas</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalKelasSiswa" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>
          
          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Alamat</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalAlamat" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Nomor Handphone</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalNoHP" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

          <div class="col-8 mb-3">
            <label for="basic-url" class="form-label">Jenis Kelamin</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3"></span>
              <input type="text" class="form-control" id="modalJenisKelamin" aria-describedby="basic-addon3 basic-addon4">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <script src="/js/details/siswaDetail.js"></script> -->
  <script src="/js/details/siswaDetail.js"></script> 