<div class="modal fade" id="modalUpdateGuru" tabindex="-1" aria-labelledby="modalUpdateGuruLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Guru</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="text" class="form-control" name="" id="" placeholder="testing">
              <label id="modalUpdateGuruLabel" for="modalUpdateGuruLabel">Nama Lengkap</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="number" name="" value="" id="" class="form-control" placeholder="testing">
              <label for="">NIP</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="" name="" value="" id="" class="form-control" placeholder="testing">
              <label for="">Bidang</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="email" name="" value="" id="" class="form-control" placeholder="testing">
              <label for="">Email</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="password" name="" value="" id="" class="form-control" placeholder="testing">
              <label for="">Password</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="" name="" value="Guru" id="" class="form-control" placeholder="testing">
              <label for="">Role</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="number" name="" value="" id="" class="form-control" placeholder="testing">
              <label for="">No HP</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="text" name="" value="" id="" class="form-control" placeholder="testing">
              <label for="">Alamat</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <select name="" id="" class="form-select">
                <option value="" selected class="text-capitalize">-</option>
                <option value="L" class="text-capitalize">laki-laki</option>
                <option value="P" class="text-capitalize">perempuan</option>
              </select>
              <label for="">Jenis Kelamin</label>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Update</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Tutup</button>
      </div>
    </div>
  </div>
</div>