<div class="modal fade" data-bs-backdrop="static" id="modalUpdateSiswa" tabindex="-1" aria-labelledby="modalUpdateSiswaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Siswa</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="text" class="form-control" name="" id="" placeholder="testing">
              <label id="modalUpdateSiswaLabel" for="modalUpdateSiswaLabel">Nama Siswa</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="text" class="form-control" name="" id="" placeholder="testing">
              <label id="modalUpdateSiswaLabel" for="modalUpdateSiswaLabel">NIS</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="password" class="form-control" name="" id="" placeholder="testing">
              <label id="modalUpdateSiswaLabel" for="modalUpdateSiswaLabel">Password</label>
            </div>
          </div>


          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <select name="" id="" class="form-select">
                <option value="" selected class="text-capitalize">-</option>
              </select>
              <label for="">Kelas Siswa</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <select name="" id="" class="form-select">
                <option value="" selected class="text-capitalize">-</option>
              </select>
              <label for="">Jurusan</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="number" class="form-control" name="" id="" placeholder="testing">
              <label id="modalUpdateSiswaLabel" for="modalUpdateSiswaLabel">Nomor Handphone</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <input type="text" class="form-control" name="" id="" placeholder="testing">
              <label id="modalUpdateSiswaLabel" for="modalUpdateSiswaLabel">Alamat</label>
            </div>
          </div>

          <div class="col-md-8 mb-1">
            <div class="form-floating">
              <select name="" id="" class="form-select">
                <option value="" selected class="text-capitalize">-</option>
                <option value="L" class="text-capitalize">laki-laki</option>
                <option value="P" class="text-capitalize">perempuan</option>
              </select>
              <label for="">Jenis Kelamin</label>
            </div>
          </div>
          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Update</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Tutup</button>
      </div>
    </div>
  </div>
</div>